<template name="home">
	<div class="container">
		<div class="row" id="champion-messages">
			<div class="col-md-4 col-xs-4">
				<h3>Categories</h3>
				{{#if categories}}
				<ul>
					<li><a href="{{pathFor 'home'}}">All categories</a></li>
					{{#each categories}}
					<li><a href="{{pathFor 'category' _id=_id}}">{{name}} {{categoryCount _id}}</a></li>
					{{/each}}
				</ul>
				{{else}}
				<p>No categories</p>
				{{/if}}
			</div>
			<div class="col-md-4 col-xs-4">
				{{#if $.Session.get 'recent'}}
				<h3>Recent Items</h3>
				<ul>
					{{#each $.Session.get 'recent'}}
					<li><a href="{{pathFor 'item' _id=_id}}">{{name}}</a></li>
					{{/each}}
				</ul>
				{{/if}}
				<h3>Items</h3>
				{{#if items}}
				<ul>
					{{#each items}}
					<li><a href="{{pathFor 'item' _id=_id}}">{{name}}</a></li>
					{{/each}}
				</ul>
				{{else}}
				<p>No items</p>
				{{/if}}
			</div>
			<div class="col-md-4 col-xs-4">
				{{#if $.Session.get 'item_doc'}}
				{{#with $.Session.get 'item_doc'}}
				<h3>{{name}}</h3>
				<p>Stock id: {{id}}</p>
				<hr/>
				<form class="form-inline">
					<div class="form-group">
						<input id="quantity" type="number" step="any" class="form-control" style="width:100px;">
						<select id="unit" class="form-control">
							{{#each units}}
							<option>{{this}}</option>
							{{/each}}
						</select>
					</div>
					<a class="btn btn-primary" id="add-to-cart"><i class="fa fa-shopping-cart"></i> Add</a>
				</form>
				{{/with}}
				{{else}}
				{{/if}}
			</div>
		</div>
	</div>
</template>