<template name="checkout">
	<div class="container">
		<div class="row" id="champion-messages">
			<h1>Confirm Order</h1>
			{{#if Cart.orderRows}}
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Item</th>
						<th>Quantity</th>
						<th>Unit</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					{{#each Cart.orderRows}}
						<tr>
							<td>{{docProperty item 'Items' 'name'}}</td>
							<td><input type="number" class="quantity" data-item="{{item}}" data-unit="{{unit}}" value="{{quantity}}"></td>
							<td>{{unit}}</td>
							<td><button class="btn btn-danger btn-xs remove" data-quantity="{{quantity}}" data-unit="{{unit}}" data-item="{{item}}"><i class="fa fa-times"></i></button></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
			<p><button class="btn btn-default" id="reset">Reset order</button>

			<button class="btn btn-primary" id="confirm">Confirm Order</button></p>
			{{else}}
			<p>Nothing in basket</p>
			<p><a href="{{pathFor 'home'}}" class="btn btn-primary">Go home</a></p>
			{{/if}}
		</div>
	</div>
</template>